# Desarrollo API 2

# Importando el primer dataset 'poblacion.csv'

In [1]:
import pandas as pd

# df = pd.read_csv("poblacion.csv")

# crea un dataframe a partir del dataset
df = pd.read_csv('poblacion.csv', index_col=0, encoding='latin-1')

# Visualizamos el DataFrame y caracteristicas.

In [2]:
# Primeros 5 registros del DataFrame
df.head()

            anio  poblacion_total  poblacion_varones  poblacion_mujeres
provincia
Total País  2010         40788453           19940704           20847749
Total País  2011         41261490           20180791           21080699
Total País  2012         41733271           20420391           21312880
Total País  2013         42202935           20659037           21543898
Total País  2014         42669500           20896203           21773297

In [3]:
# Ultimos 5 registros de DataFrame
df.tail()

                  anio  poblacion_total  poblacion_varones  poblacion_mujeres
provincia
Tierra del Fuego  2036           241593             122567             119026
Tierra del Fuego  2037           245734             124625             121109
Tierra del Fuego  2038           249853             126670             123183
Tierra del Fuego  2039           253948             128702             125246
Tierra del Fuego  2040           258020             130721             127299

In [4]:
# Dimension del DataFrame
df.shape

(775, 4)

In [5]:
# Label de las columnas y tipos de datos
df.columns

Index(['anio', 'poblacion_total', 'poblacion_varones', 'poblacion_mujeres'], dtype='object')

In [6]:
# Informacion de la tabla y Tipos de datos de las columnas (int64=integer de 64 bits)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, Total País to Tierra del Fuego
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   anio               775 non-null    int64
 1   poblacion_total    775 non-null    int64
 2   poblacion_varones  775 non-null    int64
 3   poblacion_mujeres  775 non-null    int64
dtypes: int64(4)
memory usage: 30.3+ KB

# Dejando solo columnas de anio y poblacion_total

Como en el DataFrame 'hogares_viviendas_superficie.csv' se encuentra la superficie (km2) de cada provincia y este censo incluye solo el año 2010,  
se debe limpiar el DataFrame correspondiente a 'poblacion' que incluye los datos de 'poblacion_total'.

### Comenzamos a filtrar el DataFrame, dejando solo el campo de 'provincia', 'anio' y 'poblacion_total'

Este nuevo DataFrame lo almacenamos en df_1.

In [7]:
# loc seleccion por label para ver solo las columnas de anio vs poblacion_total
df_1 = df.loc[:, ["anio", "poblacion_total"]]

display(df_1.head())

            anio  poblacion_total
provincia
Total País  2010         40788453
Total País  2011         41261490
Total País  2012         41733271
Total País  2013         42202935
Total País  2014         42669500

# Seleccionamos solo el anio 2010

Este nuevo DataFrame lo almacenamos en df_2

In [8]:
df_2 = df_1[df['anio'] == 2010]
df_2

                     anio  poblacion_total
provincia
Total País           2010         40788453
Capital Federal      2010          3028481
Buenos Aires         2010         15716942
Catamarca            2010           377676
Córdoba              2010          3373025
Corrientes           2010          1017731
Chaco                2010          1080017
Chubut               2010           513433
Entre Ríos           2010          1255574
Formosa              2010           551626
Jujuy                2010           683513
La Pampa             2010           327028
La Rioja             2010           342582
Mendoza              2010          1774737
Misiones             2010          1113279
Neuquén              2010           571910
Río Negro            2010           648277
Salta                2010          1239111
San Juan             2010           696076
San Luis             2010           443944
Santa Cruz           2010           275452
Santa Fe             2010          3257907
Santiago del Estero  2010           879246
Tucumán              2010          1489225
Tierra del Fuego     2010           131661

# Sacamos la fila de "Total País"

Este nuevo DataFrame lo almacenamos en df_3

In [9]:
df_3 = df_2.drop(['Total País'])
# df_2 = df_1.drop(['0'])

In [10]:
df_3

                     anio  poblacion_total
provincia
Capital Federal      2010          3028481
Buenos Aires         2010         15716942
Catamarca            2010           377676
Córdoba              2010          3373025
Corrientes           2010          1017731
Chaco                2010          1080017
Chubut               2010           513433
Entre Ríos           2010          1255574
Formosa              2010           551626
Jujuy                2010           683513
La Pampa             2010           327028
La Rioja             2010           342582
Mendoza              2010          1774737
Misiones             2010          1113279
Neuquén              2010           571910
Río Negro            2010           648277
Salta                2010          1239111
San Juan             2010           696076
San Luis             2010           443944
Santa Cruz           2010           275452
Santa Fe             2010          3257907
Santiago del Estero  2010           879246
Tucumán              2010          1489225
Tierra del Fuego     2010           131661

Ya tenemos el DataFrame df_3 filtrado a solo las 'provincia' y censo de año 2010.  
Ahora importaremos el DataSet donde se encuentra el campo de ´superficie' (km2) que usaremos para el calculo de la 'densidad'.

# Importando los dataset 'hogares_viviendas_superficie.csv'

## Visualizamos el DataFrame y caracteristicas.

In [11]:
import pandas as pd


# df = pd.read_csv("hogares_viviendas_superficie.csv")

df_4 = pd.read_csv('hogares_viviendas_superficie.csv',
                   index_col=0, encoding='latin-1')

In [12]:
df_4.head(30)

,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
provincia_id,,,,,
2,Capital Federal,1150134,1423973,1082998,200
6,Buenos Aires,4789484,5377786,4425193,307571
10,Catamarca,96001,113634,89376,102602
14,Córdoba,1031843,1232211,978553,165321
18,Corrientes,267797,292644,248844,88199
22,Chaco,288422,312602,270133,99633
26,Chubut,157166,177985,147176,224686
30,Entre Ríos,375121,425591,357250,78781
34,Formosa,140303,154458,130134,72066
38,Jujuy,174630,195785,154911,53219
42,La Pampa,107674,133186,104797,143440
46,La Rioja,91097,108967,86367,89680
50,Mendoza,494841,538056,459550,148827
54,Misiones,302953,330049,290263,29801
58,Neuquén,170057,193733,159302,94078
62,Río Negro,199189,236609,190597,203013
66,Salta,299794,315186,267075,155488
70,San Juan,177155,188655,162204,89651
74,San Luis,126922,142049,117766,76748
78,Santa Cruz,81796,93881,76233,243943
82,Santa Fe,1023777,1143651,948369,133007
86,Santiago del Estero,218025,242034,197906,136351
90,Tucumán,368538,396040,335821,22524
94,Tierra del Fuego,38956,43360,36689,1002445

In [13]:
# Informacion de la tabla y Tipos de datos de las columnas (int64=integer de 64 bits)
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 2 to 94
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   provincia                         24 non-null     object
 1   hogares                           24 non-null     int64
 2   viviendas_particulares            24 non-null     int64
 3   viviendas_particulares_habitadas  24 non-null     int64
 4   superficie_km2                    24 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.1+ KB

Revisamos que ambos DataFrame contengan las mismas provincias y en el mismo orden

In [14]:
# loc seleccion por label para ver solo las columnas de anio vs poblacion_total
df_5 = df_4.loc[:, ["provincia", "superficie_km2"]]

display(df_5.head(30))

                        provincia  superficie_km2
provincia_id
2                 Capital Federal             200
6                    Buenos Aires          307571
10                      Catamarca          102602
14                        Córdoba          165321
18                     Corrientes           88199
22                          Chaco           99633
26                         Chubut          224686
30                     Entre Ríos           78781
34                        Formosa           72066
38                          Jujuy           53219
42                       La Pampa          143440
46                       La Rioja           89680
50                        Mendoza          148827
54                       Misiones           29801
58                        Neuquén           94078
62                      Río Negro          203013
66                          Salta          155488
70                       San Juan           89651
74                       San Luis           76748
78                     Santa Cruz          243943
82                       Santa Fe          133007
86            Santiago del Estero          136351
90                        Tucumán           22524
94               Tierra del Fuego         1002445

# Igualando el 'index' en ambas tablas

In [15]:
# Index utilizado: 'provincia'

df_6 = df_5.set_index('provincia')

# Concatenando ambas tablas

In [16]:
# pegamos la columna 'poblacion_total' de df_3 en df_6

df_con = pd.merge(df_3, df_6, on='provincia')

In [17]:
df_con

                     anio  poblacion_total  superficie_km2
provincia
Capital Federal      2010          3028481             200
Buenos Aires         2010         15716942          307571
Catamarca            2010           377676          102602
Córdoba              2010          3373025          165321
Corrientes           2010          1017731           88199
Chaco                2010          1080017           99633
Chubut               2010           513433          224686
Entre Ríos           2010          1255574           78781
Formosa              2010           551626           72066
Jujuy                2010           683513           53219
La Pampa             2010           327028          143440
La Rioja             2010           342582           89680
Mendoza              2010          1774737          148827
Misiones             2010          1113279           29801
Neuquén              2010           571910           94078
Río Negro            2010           648277          203013
Salta                2010          1239111          155488
San Juan             2010           696076           89651
San Luis             2010           443944           76748
Santa Cruz           2010           275452          243943
Santa Fe             2010          3257907          133007
Santiago del Estero  2010           879246          136351
Tucumán              2010          1489225           22524
Tierra del Fuego     2010           131661         1002445

### Agregando una nueva columna con un campo nuevo "densidad" (habitantes/superficie)

In [18]:
df_con['densidad'] = df_con['poblacion_total']/df_con['superficie_km2']

In [19]:
df_con.head(30)

                     anio  poblacion_total  superficie_km2      densidad
provincia
Capital Federal      2010          3028481             200  15142.405000
Buenos Aires         2010         15716942          307571     51.100208
Catamarca            2010           377676          102602      3.680981
Córdoba              2010          3373025          165321     20.402883
Corrientes           2010          1017731           88199     11.539031
Chaco                2010          1080017           99633     10.839953
Chubut               2010           513433          224686      2.285113
Entre Ríos           2010          1255574           78781     15.937523
Formosa              2010           551626           72066      7.654456
Jujuy                2010           683513           53219     12.843402
La Pampa             2010           327028          143440      2.279894
La Rioja             2010           342582           89680      3.820049
Mendoza              2010          1774737          148827     11.924832
Misiones             2010          1113279           29801     37.357102
Neuquén              2010           571910           94078      6.079105
Río Negro            2010           648277          203013      3.193278
Salta                2010          1239111          155488      7.969174
San Juan             2010           696076           89651      7.764286
San Luis             2010           443944           76748      5.784437
Santa Cruz           2010           275452          243943      1.129165
Santa Fe             2010          3257907          133007     24.494252
Santiago del Estero  2010           879246          136351      6.448402
Tucumán              2010          1489225           22524     66.117253
Tierra del Fuego     2010           131661         1002445      0.131340

### La densidad poblacional en el año 2010 por 'provincia' es:

# Valores extremos.

In [20]:
df_con['densidad'].describe()

count       24.000000
mean       644.299213
std       3088.126381
min          0.131340
25%          3.785282
50%          7.866730
75%         17.053863
max      15142.405000
Name: densidad, dtype: float64

En este caso, la columna densidad tiene 24 valores no nulos. La media de los valores en la columna es 644.299. La desviación estándar de los valores en la columna es 3088.126. El valor mínimo en la columna es 0.131. El percentil 25 de los valores en la columna es 3.785. La mediana de los valores en la columna es 7.866. El percentil 75 de los valores en la columna es 17.053. El valor máximo en la columna es 15142.405.

El valor maximo de densidad (habitantes/km2) se muestra en 'Capital_Federal' y esto se debe a que es la capital de la Republica Argentina.  
Normalmente es donde se acumula la mayor parte de la poblacion.