# Importando los dataset poblacion.csv y chequeo

In [1]:
import pandas as pd

# df = pd.read_csv("poblacion.csv")

# crea un dataframe a partir del dataset
df = pd.read_csv('poblacion.csv', index_col=0, encoding='latin-1')

# Visualizamos el DataFrame y caracteristicas.

In [2]:
# Primeros 5 registros del DataFrame
df.head()

            anio  poblacion_total  poblacion_varones  poblacion_mujeres
provincia
Total País  2010         40788453           19940704           20847749
Total País  2011         41261490           20180791           21080699
Total País  2012         41733271           20420391           21312880
Total País  2013         42202935           20659037           21543898
Total País  2014         42669500           20896203           21773297

In [3]:
# Ultimos 5 registros de DataFrame
df.tail()

                  anio  poblacion_total  poblacion_varones  poblacion_mujeres
provincia
Tierra del Fuego  2036           241593             122567             119026
Tierra del Fuego  2037           245734             124625             121109
Tierra del Fuego  2038           249853             126670             123183
Tierra del Fuego  2039           253948             128702             125246
Tierra del Fuego  2040           258020             130721             127299

In [4]:
# Dimension del DataFrame
df.shape

(775, 4)

In [5]:
# Label de las columnas y tipos de datos
df.columns

Index(['anio', 'poblacion_total', 'poblacion_varones', 'poblacion_mujeres'], dtype='object')

In [6]:
# Informacion de la tabla y Tipos de datos de las columnas (int64=integer de 64 bits)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, Total País to Tierra del Fuego
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   anio               775 non-null    int64
 1   poblacion_total    775 non-null    int64
 2   poblacion_varones  775 non-null    int64
 3   poblacion_mujeres  775 non-null    int64
dtypes: int64(4)
memory usage: 30.3+ KB

In [7]:
# loc seleccion por label para ver solo las columnas de anio vs poblacion_total
df_1 = df.loc[:, ["anio", "poblacion_total"]]

display(df_1.head())

            anio  poblacion_total
provincia
Total País  2010         40788453
Total País  2011         41261490
Total País  2012         41733271
Total País  2013         42202935
Total País  2014         42669500

In [8]:
# iloc
# Seleccion de filas con index (provincia).
# Fila 13 y todas las columnas (,:)

# df_2 = df.iloc[ [13], :]

# display(df_2.head())

In [9]:
# Que provincias tienen una poblacion superior al 1,000,000 de habitantes

# df[ df['poblacion_total']>1000000 ]

# Seleccionamos solo el anio 2010

In [10]:
df_2 = df_1[df['anio'] == 2010]
df_2

                     anio  poblacion_total
provincia
Total País           2010         40788453
Capital Federal      2010          3028481
Buenos Aires         2010         15716942
Catamarca            2010           377676
Córdoba              2010          3373025
Corrientes           2010          1017731
Chaco                2010          1080017
Chubut               2010           513433
Entre Ríos           2010          1255574
Formosa              2010           551626
Jujuy                2010           683513
La Pampa             2010           327028
La Rioja             2010           342582
Mendoza              2010          1774737
Misiones             2010          1113279
Neuquén              2010           571910
Río Negro            2010           648277
Salta                2010          1239111
San Juan             2010           696076
San Luis             2010           443944
Santa Cruz           2010           275452
Santa Fe             2010          3257907
Santiago del Estero  2010           879246
Tucumán              2010          1489225
Tierra del Fuego     2010           131661

# Sacamos la fila de "Total País"

In [11]:
df_3 = df_2.drop(['Total País'])
# df_2 = df_1.drop(['0'])

In [12]:
df_3

                     anio  poblacion_total
provincia
Capital Federal      2010          3028481
Buenos Aires         2010         15716942
Catamarca            2010           377676
Córdoba              2010          3373025
Corrientes           2010          1017731
Chaco                2010          1080017
Chubut               2010           513433
Entre Ríos           2010          1255574
Formosa              2010           551626
Jujuy                2010           683513
La Pampa             2010           327028
La Rioja             2010           342582
Mendoza              2010          1774737
Misiones             2010          1113279
Neuquén              2010           571910
Río Negro            2010           648277
Salta                2010          1239111
San Juan             2010           696076
San Luis             2010           443944
Santa Cruz           2010           275452
Santa Fe             2010          3257907
Santiago del Estero  2010           879246
Tucumán              2010          1489225
Tierra del Fuego     2010           131661